:root {
    --dark-tone: #021526;
    --light-tone: #E2E2B6;
    --accent-tone: #03346E;
    --overlay-tone: #02152670;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: bold;
}

/* Header & Navigation */

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--dark-tone);
    border-bottom: 0.3rem solid var(--accent-tone);
    min-height: 5vh;
}

.nav-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.nav-child.first {
    /* background-color: rgb(255, 0, 0); */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-child.second {
    /* background-color: rgb(0, 255, 0); */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-child.third {
    /* background-color: rgb(0, 0, 255); */
    width: 25%;
}

/* Typewriter animation */

.nav-logo {
    color: var(--light-tone);
    max-width: fit-content;
    padding-right: 0.1rem;
    overflow: hidden; /* Ingen overflow */
    white-space: nowrap; /* lägger i en rad */
    border-right: 0.1rem solid; /* Till för cursor animation */ 
    animation: typing 3s steps(25) forwards, blink 1s step-end infinite; /* animering */
}
 
  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    
  }

.nav-logo a{  
    color: var(--light-tone);
}

/* Navigerings länkar */

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.nav-links-child {
    position: relative;
    color: var(--light-tone);
    text-decoration: none;
    display: block;
    padding: 0.5rem 0.5rem;
    transition: 150ms ease-in-out;
}

.nav-links-child:hover {
    background-color: var(--light-tone);
    color: var(--dark-tone);
}

@media only screen and (max-width: 820px) {

    header {
        max-height: calc(10vh - 0.3rem);
    }

    .nav-child{
        height: 5vh;
    }

    .nav-child.first {
        width: 100%;
        
    }

    .nav-child.second {
        width: 100%;
        order: 3;
    }

    .nav-child.third {
        display: none;
    }
}

/* Footer */

footer {
    height: 10vh;
    background-color: var(--dark-tone);
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: var(--light-tone);
}